[submodule "gflags"]
	path = gflags
	url = https://github.com/gflags/gflags
[submodule "glog"]
	path = glog
	url = https://github.com/google/glog
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest
[submodule "fmt"]
	path = fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "nlohmann-json"]
	path = nlohmann-json
	url = https://github.com/nlohmann/json.git
[submodule "rapidjson"]
	path = rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "jsoncpp"]
	path = jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "grpc"]
	path = grpc
	url = https://github.com/grpc/grpc.git
[submodule "snappy"]
	path = snappy
	url = https://github.com/google/snappy
[submodule "leveldb"]
	path = leveldb
	url = https://github.com/google/leveldb.git
[submodule "brpc"]
	path = brpc
	url = https://github.com/apache/brpc.git
[submodule "braft"]
	path = braft
	url = https://github.com/dingodb/braft
[submodule "incbin"]
	path = incbin
	url = https://github.com/graphitemaster/incbin.git
[submodule "libfiu"]
	path = libfiu
	url = https://github.com/albertito/libfiu.git
[submodule "crc32c"]
	path = crc32c
	url = https://github.com/google/crc32c.git
[submodule "memcache"]
	path = memcache
	url = https://github.com/awesomized/libmemcached
[submodule "spdlog"]
	path = spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "curl"]
	path = curl
	url = https://github.com/curl/curl.git
[submodule "opentelemetry-cpp"]
	path = opentelemetry-cpp
	url = https://github.com/open-telemetry/opentelemetry-cpp.git
[submodule "aws-sdk-cpp"]
	path = aws-sdk-cpp
	url = https://github.com/aws/aws-sdk-cpp.git
[submodule "libuuid-cmake"]
	path = libuuid-cmake
	url = https://github.com/gershnik/libuuid-cmake.git
[submodule "openssl"]
	path = openssl
	url = https://github.com/openssl/openssl.git
[submodule "rocksdb"]
	path = rocksdb
	url = https://github.com/facebook/rocksdb.git
[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib
[submodule "protobuf"]
	path = protobuf
	url = https://github.com/protocolbuffers/protobuf
[submodule "hdf5"]
	path = hdf5
	url = https://github.com/HDFGroup/hdf5.git
[submodule "lz4"]
	path = lz4
	url = https://github.com/lz4/lz4
[submodule "zstd"]
	path = zstd
	url = https://github.com/facebook/zstd
[submodule "libunwind"]
	path = libunwind
	url = https://github.com/libunwind/libunwind
[submodule "gperftools"]
	path = gperftools
	url = https://github.com/gperftools/gperftools
[submodule "liburing"]
	path = liburing
	url = https://github.com/axboe/liburing.git
[submodule "libbacktrace"]
	path = libbacktrace
	url = https://github.com/ianlancetaylor/libbacktrace
[submodule "libfuse"]
	path = libfuse
	url = https://github.com/libfuse/libfuse.git
[submodule "double-conversion"]
	path = double-conversion
	url = https://github.com/google/double-conversion.git
[submodule "numactl"]
	path = numactl
	url = https://github.com/numactl/numactl.git
[submodule "libevent"]
	path = libevent
	url = https://github.com/libevent/libevent.git
[submodule "boost"]
	path = boost
	url = https://github.com/boostorg/boost.git
[submodule "libusrbio"]
	path = src/libusrbio
	url = https://github.com/deepseek-ai/3fs
[submodule "rdma-core"]
	path = rdma-core
	url = https://github.com/linux-rdma/rdma-core.git
[submodule "librados"]
	path = librados
	url = https://github.com/ceph/ceph.git
[submodule "toml11"]
	path = toml11
	url = https://github.com/ToruNiina/toml11.git
